# Dépendances
node_modules/
backend/node_modules/
frontend/node_modules/

# Environnement 
.env
.env.*

# Logs et Système
*.log
.DS_Store
.vscode/

#notes personnelles francky
PROGRESSION.md
!frontend/PROGRESSION.md
notes.txt
